#theAboutPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background: linear-gradient(
        to top,
        #eea3fa57,
        #1212126a,
        rgba(248, 171, 109, 0.817)
      ),
      url("../../assets/backgroundbanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
#theAboutPage h2{
    background: -webkit-linear-gradient(0deg,#a12ea1, #f1975b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: 700;
    text-align: start;
    font-family: "Montserrat", sans-serif;
}
#aboutUsCard{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#aboutUsCard h2{
    color: #fcbc1a;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
#aboutUsCard p{
    color: antiquewhite;
    line-height: 25px;
    font-weight: 400;
}

#aboutUsCardB{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a12ea1;
}
#aboutUsCardB img{
width: 100%;
height: 100%;
object-fit: contain;
}

#aboutServices{
    padding: 20px 2px;
    margin-top: 15px;
    background-image: linear-gradient(to right, #bacbd1, #ffffff73);
}

#aboutServicesText h2{
 color: #a12ea1;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
#ourServiceCard{
    box-shadow: 1px 2px 19px  #a12ea14c;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
}
#ourServiceCard h6{
    color: #a12ea1;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
#ourServiceCard p{
    font-weight: 400;
   color: #686766;
}
#ourServiceCard button{
    padding: 12px 25px;
    border: none;
    background-image: linear-gradient(to right, #5e145e, #a12ea1, #5e145e);
    color: #fcbc1a;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border-radius: 4px;
}
#aboutAccodion{
    padding: 20px 2px;
}
#aboutAccodion h4{
   color: #fcbc1a;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.accordion-button{
    background-image: linear-gradient(to right, #bacbd1, #bacbd1);
color: #fcbc1a;
}

#ourAboutStory{
    background-image: linear-gradient(to right, #bacbd1, #bacbd1);
    padding: 20px 2px;
    margin-bottom: 20px;
}
#ourAboutStory h4{
    color: #5e145e;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
@media (max-width: 750px) {
    #theAboutPage{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
        height: 50vh;
        background: linear-gradient(
            to top,
            #eea3fa57,
            #1212126a,
            rgba(248, 171, 109, 0.817)
          ),
          url("../../assets/backgroundbanner.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
    }
}