#theAboutPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background: linear-gradient(
      to top,
      #eea3fa57,
      #1212126a,
      rgba(248, 171, 109, 0.817)
    ),
    url("../../assets/banner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#theAboutPage h2 {
  background: -webkit-linear-gradient(0deg, antiquewhite, #f1975b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 700;
  text-align: start;
  font-family: "Montserrat", sans-serif;
}
#aboutUsCard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#aboutUsCard h2 {
  color: #674c4c;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
#aboutUsCard p {
  color: gray;
  line-height: 25px;
  font-weight: 400;
}

#aboutUsCardB {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a12ea1;
}
#aboutUsCardB img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#aboutServices {
  padding: 20px 2px;
  margin-top: 15px;
  background-image: linear-gradient(to right, #bacbd1, #ffffff73);
}

#aboutServicesText h2 {
  color: #674c4c;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#ourServiceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 2px 19px #674c4c;
  padding: 10px;
  margin-top: 20px;
  border-radius: 4px;
}
#ourServiceCard span {
  position: relative;
  top: -30px;
  background-color: #68676685;
  padding: 10px;
  border-radius: 4px;
}
#ourServiceCardIcon {
  font-size: 45px;
  color: antiquewhite;
}
#ourServiceCard h6 {
  color: 674c4c;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#ourServiceCard p {
  font-weight: 400;
  color: #686766;
}

#aboutAccodion {
  padding: 20px 2px;
}
#aboutAccodion h4 {
  color: #674c4c;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.accordion-button {
  background-image: linear-gradient(to right, #bacbd1, #bacbd1);
  color: gray;
}

#ourAboutStory {
  background-image: linear-gradient(to right, #bacbd1, #bacbd1);
  padding: 20px 2px;
  margin-bottom: 20px;
}
#ourAboutStory h4 {
  color: #5e145e;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 750px) {
  #theAboutPage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    height: 50vh;
    background: linear-gradient(
        to top,
        #eea3fa57,
        #1212126a,
        rgba(248, 171, 109, 0.817)
      ),
      url("../../assets/banner.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
